<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    const myJson = JSON.parse('{{ myJson|escapejs }}');

    const PostDetailApp = {
        delimiters: ['[[', ']]'],
        data() {
            return {
                post: {},
                prevPost: {},
                nextPost: {},
                cateList: [],
                tagList: [],
                commentList: [],
            };
        },

        created() {
            console.log('created..');

            this.post = myJson.post;
            this.prevPost = myJson.prevPost;
            this.nextPost = myJson.nextPost;
            this.commentList = myJson.commentList;
            this.cateList = myJson.cateList;
            this.tagList = myJson.tagList;
        },

        methods: {
            fetchPostDetail(postId) {
                console.log('fetchPostDetail..', postId);

                axios
                    .get(`/api2/post/${postId}/`)
                    .then((res) => {
                        console.log('fetch post detail...res:', res);
                        this.post = res.data.post;
                        this.prevPost = res.data.prevPost;
                        this.nextPost = res.data.nextPost;
                        this.commentList = res.data.commentList;
                    })
                    .catch((err) => {
                        console.log('fetch post detail...err:', err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
            },

            fetchCateTagList() {
                console.log('fetchCateTagList..');

                axios
                    .get(`/api2/catetag/`)
                    .then((res) => {
                        console.log('fetchCateTagList...res:', res);
                        this.cateList = res.data.cateList;
                        this.tagList = res.data.tagList;
                    })
                    .catch((err) => {
                        console.log('fetchCateTagList...err:', err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
            },

            serverPage(category, tag) {
                console.log('serverPage..', category, tag);

                if (category && tag) alert(`serverPage() both args Error: ${category} and ${tag}`);
                else if (category) location.href = `/?category=${category}#blog`;
                else if (tag) location.href = `/?tag=${tag}#blog`;
                else location.href = '/#blog';
            },

            likeCount(id) {
                console.log('likeCount..', id);

                axios
                    .get(`/api2/post/${id}/like/`)
                    .then((res) => {
                        console.log('likeCount...res:', res);
                        this.post.like = res.data;
                    })
                    .catch((err) => {
                        console.log('likeCount...err:', err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
            },

            resetForm() {
                console.log('resetForm..');
                this.$refs.commentForm.reset();
            },

            submitForm() {
                console.log('submitForm..');

                let formData = new FormData(document.getElementById('comment-form'));
                formData.set('post', this.post.id);

                axios
                    .post('/api2/comment/', formData)
                    .then((res) => {
                        console.log('submitForm...res:', res);
                        this.commentList.push(res.data);
                    })
                    .catch((err) => {
                        console.log('submitForm...err:', err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    })
                    .finally(() => {
                        this.resetForm();
                    });
            },
        },
    };

    Vue.createApp(PostDetailApp).mount('#page-top');
</script>
