{% extends "base.html" %} {% load static %} {% block title %}home.html{% endblock title %} {% block content %}
<section class="page-section bg-light" id="blog">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Blog List</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div v-for="post in postList" :key="post.id" class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" :href="`/blog/post/${post.id}/#post`">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" :src="post.image" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-subheading text-muted">[[ post.category ]]</div>
                        <div class="portfolio-caption-heading">[[ post.title ]]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- I am-->
<section class="page-section bg-light" id="iam">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Yuhyeon Kim</h2>
            <h3 class="section-subheading text-muted">Why be a man when you can be a success?</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://avatars.githubusercontent.com/u/120432007?v=4" alt="..." />
                    <h4>Yuhyeon Kim</h4>
                    <p class="text-muted">Full-Stack Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="mb-5">
                    <h4>About me</h4>
                    <p class="text-muted">Hi, I'm yuhyeon kim.</p>
                    <p class="text-muted">I'm currently trying to become full-stack developer.</p>
                    <p class="text-muted">I use React, React Native and Flutter in Front-end and back-end mainly use Django.</p>
                    <p class="text-muted">If you have any other inquiries, please email rladbgus0516@naver.com.</p>
                </div>
                <div class="mb-5">
                    <h4>My work experience</h4>
                    <p class="text-muted">- Samsung Electronics (2014.11.01 ~ 2023.05.15)</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %} {% block extra-script %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const PostListApp = {
        delimiters: ["[[", "]]"],
        data() {
            return {
                postList: [],
            }
        },

        created() {
            console.log("created..")
            this.fetchPostList();
        },

        methods: {
            fetchPostList() {
                console.log("fetchPostList..")

                axios.get("/api/post/list/").then(res => {
                    console.log("fetch post list...res:", res)
                    this.postList = res.data
                }).catch(err => {
                    console.log("fetch post list...err:", err.response)
                    alert(`${err.response.status} ${err.response.statusText}`)
                })
            }
        }
    }

    Vue.createApp(PostListApp).mount(#page-top)
</script>
{% endblock extra-script %}
